<div class="card mb-3">
	<div class="card-header text-center header_table_admin" id="header_table_facilitadores">
		<i class="fas fa-users"></i>
	Facilitadores</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered table-striped table-sm" id="facilitadoresTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Facilitador</th>
						<th>Sesiones ejecutadas</th>
						<th>Estudiantes / Sesión</th>

						<th class="th-opciones">Opciones</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Facilitador</th>
						<th>Sesiones ejecutadas</th>
						<th>Promedio</th>
						<th>Opciones</th>
					</tr>
				</tfoot>
				<tbody>
					<% @facilitadores.each do |facilitador| %>
					<tr>
						<td><%=  facilitador.fullName%></td>
						<td><%= facilitador.class_sessions.count %></td>
						<td><%=  facilitador.students_avg %></td>

						<td>
							<div class="btn-group btn-group-sm" role="group">
								<%= link_to facilitador_path(facilitador), remote: true,class: "btn btn-info btn-sm",title:"Ver detalles" do%>
								<i class="far fa-eye text-dark"></i>
								<% end %>
								<a href="">2</a>
								<a href="">3</a>
							</div>
						</td>
					</tr>

					<% end %>

				</tbody>
			</table>
		</div>
	</div>	
</div>