<ul class="sidebar navbar-nav">
	<div>
		<li class="nav-item text-center">
			<button class="btn btn-link btn-sm nav-text btn-block text-white order-1 order-sm-0" id="sidebarToggle" href="#">
				<i class="fas fa-chevron-left chevron-sidebar"></i>
			</button>
		</li>
		<li class="nav-item">
			<%= link_to facilitadors_path, class: "nav-link",title:"Facilitadores" do%>
			<i class="fas fa-users"></i>
			<span>Facilitadores</span>
			<% end %>
		</li>
		<li class="nav-item">
			<%= link_to schools_path, class: "nav-link",title:"Instituciones" do%>
			<i class="fas fa-school"></i>
			<span>Instituciones</span>
			<% end %>
		</li>
		
		<li class="nav-item">
			<a class="nav-link" href="/admin/index#header_table_sessions" title="Sesiones">
				<i class="fas fa-list"></i>
				<span>Sesiones</span>
			</a>
		</li>
		<li class="nav-item">
			<%= link_to new_school_path, class: "nav-link",title:"Agregar instituci칩n	" do%>
			<i class="fas fa-plus-circle"></i>
			<span>Ingresar Instituci칩n</span>
			<% end %>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="" title="Gr치ficos">
				<i class="far fa-chart-bar"></i>
				<span>Gr치ficos</span>
			</a>
		</li>
		
	</div>
</ul>