<%= render "navbar" %>

<div id="wrapper">
	<!-- Sidebar -->
	<%= render "sidebar" %>
	<div id="content-wrapper">

		<div class="container-fluid">

			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<%= "#{current_admin.email}" %>
				</li>
				<li class="breadcrumb-item active">Nueva Institución</li>
			</ol>

			<%= render "form_schools" %>		

		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-wrapper -->
</div>




