
@import "bootstrap";
@import "sbadmin/dataTables.bootstrap4.scss";
@import "sbadmin/sb-admin.scss";


/*remove arrows in 
options header in tables
dates header (abc)*/
.th-opciones::before, 
.th-opciones::after,
.th-fecha::before,
.th-fecha::after,
.th-time::before,
.th-time::after
{
	visibility: hidden;
	content: none;
}

tr {
	text-align: center;
}

.header_table_admin{
	font-size: 1.3rem;
}

#header_table_facilitadores, #header_table_schools {
	background-color: #bae9ff;
}

/*#header_table_facilitadores{
	background-color: #baffdd;
}*/

