<div class="modal fade" id="generate-assistance-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="exampleModalLabel">Generar Asistencia</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<%#= @schools.first.name %>
				
				<%= form_tag controller: "attendances", action: "download_xls", method: "post", class: "nifty_form" do %>

				<div class="form-row">
					<div class="form-group col-md-8">
						<label for="school"><b>Institución</b></label>
						<%= select_tag "school", options_from_collection_for_select(@schools, :id, :name), {:class => 'custom-select'} %>
					</div>
					<div class="form-group col-md-4">
						<label for="week"><b>Semana</b></label>
						<input class="form-control" type="number" id="week" name="week"
						min="1" max="54" required>
					</div>
				</div>
				
				<%#= submit_tag "Descargar", class: "btn btn-success", 'data-disable-with' => "Descargando..." %>
				<div class="formgroup text-center">
					<%= button_tag :submit, class: "btn btn-success", 'data-disable-with' => "Descargando..." do %>
					<i class="fas fa-file-download"></i> Descargar Excel
				</div>
				
				<% end %>
				
				
				<% end %>
				
				
				<%#= collection_select(:student, :school_id, School.where(user_id: current_user.id), :id, :name, {prompt: false}, {:class=>'custom-select', :id=>'school'}) %>

				<%#= select_tag "Institución", options_from_collection_for_select(@schools, :id, :name) %>
				<%#= submit_tag %>
				<%# end %>
				
			</div>

		</div>
	</div>
</div>
